
<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <div class="col-8 offset-2">

    <h2>Edit your listings</h2> <br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation"
        enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            
            <input required class="form-control" type="text" name="listing[title]" id="" value="<%=listing.title %>"/>
            <div class="valid-feedback">
                Title Looks good!
              </div>
        </div>

        <div class="mb-3">
            
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="listing[description]" id="" required><%=listing.description %> </textarea>
            <div class="invalid-feedback">
                Please Enter a Short Description
              </div>
        </div>
        
        <div class="mb-3">
        <b> Previous Picture </b>
            <img src="<%=originalImageUrl%>" alt="">
            
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image </label>
            <input   class="form-control" type="file" name="avatar" id="" />
            
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input required class="form-control" type="number" name="listing[price]" id="" value="<%=listing.price %>"/>
                <div class="invalid-feedback">
                    please enter a valid price
                  </div> 
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input required class="form-control" type="text" name="listing[country]" id="" value="<%=listing.country %>"/>
                <div class="invalid-feedback">
                    Please Enter the country Name.
                   </div>
            </div>

        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required class="form-control " type="text" name="listing[location]" id="" value="<%=listing.location %>"/>
            <div class="invalid-feedback">
                Location Should be Valid
              </div>
        </div>
        <button  class="btn btn-dark edit-btn  mt-2 mb-3"> Edit</button>
    </form>
    
</div>
</div>